CONN_STRING="" # ссылка для подключения к базе данных
POSTGRES_USER="" # имя пользователя для PostgreSQL
POSTGRES_PASSWORD="" # пароль для PostgreSQL
POSTGRES_DB="" # имя базы данных для PostgreSQL
GF_SECURITY_ADMIN_USER="" # имя пользователся для grafana
GF_SECURITY_ADMIN_PASSWORD="" # пароль для grafana